.containter {
    background-color: #006747;
    padding: 1vw;
}

.videoHandoff {
    display: grid;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
    height: auto;
    padding: auto;
}

.row_handoff:after{
    display: flex;
}

.button_join-handoff {
    background-color: #42995f;
    border: 1px solid #d0c594;
    border-radius: 8px;
    color: black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
} 
.button_join-handoff:hover {
    background-color: #35804e;
    color: white;
}
.button_end {
    background-color: #42995f;
    border: 1px solid #d0c594;
    border-radius: 8px;
    color: black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
} 
.button_end:hover {
    background-color: #35804e;
    color: white;
}