.handContainer {
    background-color: #006747;
    padding: 1vw;
    height: 100vh;
}

.videoHandoff {
    display: grid;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
    /* height: auto; */
    padding: auto;
    /* object-fit: cover; */
    /* overflow: visible; */
}

.row_handoff:after{
    display: flex;
}

.handoff_button_join-handoff {
    background-color: rgb(0, 89, 255);;
    border: 1px solid #d0c594;
    border-radius: 8px;
    color: black;
    padding: 10px 20px;
    margin-right: 1rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
} 
.handoff_button_join-handoff:hover {
    background-color: rgb(0, 0, 201);
    color: white;
}
.handoff_button_end {
    background-color: red;
    border: 1px solid #d0c594;
    border-radius: 8px;
    color: black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
} 
.handoff_button_end:hover {
    background-color: rgb(165, 0, 0);
    color: white;
}

.handVideoStyle {
    background-color: black;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    justify-content: center;
    align-items: center;
}

.handRemoteVideoSectionStyle {
    height: 720px; /*720px*/
    width: 1280px; /*1280px*/
    background-color: black;
}

.handLocalVideoSectionStyle {
    height: 180px; /*180*/
    width: 320px; /*320*/
    background-color: black;
}

.videoParent {

    /* position: relative; */
    /* left: 1.05vw; */
    /* display: grid; */
    top: 0;

}

.handLocalVideo {
    position: relative;
    /* grid-column: 1;
    grid-row: 1; */
    top: 720px; 
    left: 0;
    border: 1px rgb(0, 89, 255) solid;
    z-index: 99;
}

.handRemoteVideo {
    /* position: relative; */
    /* grid-column: 1;
    grid-row: 1; */
    left: 0;
    border: 1px red solid;
    z-index: 1;
}

@media screen and (max-width: 1310px) {
    .handRemoteVideoSectionStyle {
        height: 480px; 
        width: 854px; 
    }
    
    .handLocalVideoSectionStyle {
        height: 120px; 
        width: 214px; 
    }
    
    .handLocalVideo {
        top: 480px; 
    }
}

@media screen and (max-width: 1000px) {
    .handRemoteVideoSectionStyle {
        height: 360px; 
        width: 640px; 
    }
    
    .handLocalVideoSectionStyle {
        height: 90px; 
        width: 160px; 
    }
    
    .handLocalVideo {
        top: 360px; 
    }
}

@media only screen and (max-width: 600px) {
    .handRemoteVideoSectionStyle {
        height: 198px; 
        width: 352px; 
    }
    
    .handLocalVideoSectionStyle {
        height: 144px; 
        width: 256px; 
    }
    
    .handLocalVideo {
        transform: translateX(17.5%);
        
        top: 344px; 
    } 
}


/* @media screen and (max-width: 720px) {
    .videoHandoff {
        width: 100%;
    }
} */