.container {
    
    background-color: #006747;
    padding: 1vw;
    
    
}

.column-left {
    float: left;
    width: 75%;
    
    border:  1px solid #cfc493;
}

.column-right {
    float: left;
    flex: 25%;
    border: 1px solid #cfc493;
}

.row:after {
    display: flex;
}

.border {
    border: 1px solid #cfc493;
    padding: auto;
    align-items: center;
    
}

.videoContainer {
    height: 800px;
}

.border-top{
    border-top: 1px solid #cfc493;
}
.border-bottom{
    border-bottom: 1px solid #cfc493;
}
.border-left{
    border-left: 1px solid #cfc493;
}
.border-right{
    border-right: 1px solid #cfc493;
}
.img-hold{
    width: 95%;
}

@media screen and (max-width: 1250px) {
    .column-left{
        width: 99.8%;
    }

    .column-right {
        width: 99.8%;
    }
    
}