.videoStyle {
    background-color: black;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    justify-content: center;
    align-items: center;
}

/*.videoSectionStyle{
    height: 400px;
    width: 600px;
    background-color: black;
    position: relative;
}*/

.remoteVideoSectionStyle {
    height: 720px; /*720px*/
    width: 1280px; /*1280px*/
    background-color: black;
}

.localVideoSectionStyle {
    height: 180px; /*180*/
    width: 320px; /*320*/
    background-color: black;
}

.videoParent {
    /* position: relative; */
    /* left: 1.05vw; */
    /* display: grid; */
    top: 0;
}

.localVideo {
    position: relative;
    /* grid-column: 1;
    grid-row: 1; */
    top: 720px; 
    left: 0;
    border: 1px red solid;
    z-index: 99;
}

.remoteVideo {
    /* position: relative; */
    /* grid-column: 1;
    grid-row: 1; */
    left: 0;
    border: 1px green solid;
    z-index: 1;
}


