.videoStyle {
    background-color: black;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    justify-content: center;
    align-items: center;
}

/*.videoSectionStyle{
    height: 400px;
    width: 600px;
    background-color: black;
    position: relative;
}
60vh
90vh
*/

.remoteVideoSectionStyle {
    height: 720px; /*600px*/
    width: 1280px; /*900px*/
    background-color: black;
}

.localVideoSectionStyle {
    height: 180px; /*200*/
    width: 320px; /*300*/
    background-color: black;
}

.videoParent {
    position: relative;
    /* left: 1.05vw; */
    top: -100px;
}

.localVideo {
    position: relative;
    top: 720px; 
    left: 0;
    border: 1px red solid;
    z-index: 99;
}

.remoteVideo {
    position: relative;
    top: 0px;
    left: 0;
    border: 1px green solid;
}


