.iframeStyle {
    min-width: 400px;
    width: 99.8%;
    min-height: 500px;
    max-height: 650px;
}

@media screen and (max-width: 1090px) {
    .iframeStyle {
        height: 500px;
    }
}

/* .webchat__bubble p {
    max-width: 20em;
}

.webchat__bubble__content .markdown p img {
    width: 200px;
}

div.markdown p img {
    color: red;
} */
